<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Index Page</title>
</head>
<body>



<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

    <h2>Index Page</h2>


    <a th:href="@{/login}">login page</a><br>
    <a th:href="@{/registration}">registration page</a><br>
    <a th:href="@{/foruser}">foruser page</a><br>

</body>
</html>