<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<style>
    input[type="text"],[type="password"],[type="email"] {
        font-size: 14px;
        height: 36px;
        width: 500px;
    }
    .block {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 40%;
        left: 45%;
        margin: -125px 0 0 -125px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/foruser}">Users</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="block">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="formGroupInput1">Username</label>
            <input type = "text" class="form-control" id="formGroupInput1" placeholder="username"  name = "username"/>
        </div>
        <div class="form-group">
            <label for="formGroupInput2">Password</label>
            <input type = "password" class="form-control" id="formGroupInput2" placeholder="password"  name = "password"/>
        </div>
        <div class="form-group" style="margin-top: 5%">
            <input class="btn btn-primary"  type="submit" value="submit">
        </div>

    </form>
</div>


</body>
</html>